body{
    background-image: url('contact.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}

.menu{
    width: 480px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 12px;
}

ul li a{
    text-decoration: none;
    color: #ff7200;
}
 .logo img{
    float: left;
    margin-top: 18px;
    width: 25px;
    height: auto;
 }
 ul li a:hover{
    color: rgb(19, 223, 56);
 }
 .srch{
    font-family: 'Times New Roman', Times, serif;
    width: 120px;
    height: 30px;
    background: transparent;
    float: left;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: rgb(231, 226, 219);
    border-right: none;
    font-size: 10px;
    padding: 10px;
    border-bottom-left-radius: 5px;

 }
 .btn{
    width: 80px;
    height: 30px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color-scheme: #fff;
    font-size: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
 }
 .btn:focus{
    outline:none;
 }
 .srch:focus{
    outline:none;
 }
 .content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
 }
  
 .content .par{
    padding-left: 10px;
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
 }
 .content .cn{
    width: 100px;
    height: 25px;
    background: #ff7200;
    border: none;
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s ease;
 }
 .content .cn a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
 }
 .cn:hover{
    background-color: chartreuse;
 }

.content span{
    color: #ff7200;
}

form{
   width: 200px;
   margin: 50px auto;
   padding: 30px;
   background-color: transparent;
   border: 1px solid #ddd;
   
}
.form-group{
   margin-bottom: 10px;
}
lable{
   display: black;
   margin-bottom: 10px;
}

input[type="text"],
input[type="password"]{
   width: 90%;
   height: 7px;
   background-color: #ddd;
   color: black;
   padding: 10px;
   border: none;
   cursor: pointer;

}

button[type="submit"]:hover {
   background-color: rgb(11, 231, 15);
}
.login-container{
   position: absolute;
   color: #ff7200;
   top: 50%;
   left: 65%;
   transform: translate(-50%, -50%);
   background-color: transparent;
   padding: 20px;
   
}
